@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");

body {
  background-image: url(/pics/donuts.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(13, 122, 99, 0.6);
  color: yellow;
  font-family: "Cantora One", sans-serif;
  font-size: 25px;
}

.about-fred {
  font-family: "Cantora One", sans-serif;
  background-color: rgba(13, 122, 99, 0.6);
  color: yellow;
  font-size: 20px;
  border: none;
}

.inspiration {
  font-family: "Cantora One", sans-serif;
  background-color: rgba(13, 122, 99, 0.6);
  color: yellow;
  font-size: 20px;
  border: none;
}

.contact {
  font-family: "Cantora One", sans-serif;
  background-color: rgba(13, 122, 99, 0.6);
  color: yellow;
  font-size: 20px;
  border: none;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 27px;
}

.donut-button img {
  padding: 0;
  width: 100px;
  border-radius: 100px;
}

.donut-button {
  border: 0;
  padding: 0;
  width: 100px;
  border-radius: 100px;
  height: 100px;
}

.clicker-button img {
  padding: 0;
  width: 100px;
  border-radius: 100px;
}

.clicker-button {
  display: none;
  border: 0;
  padding: 0;
  width: 100px;
  border-radius: 100px;
  height: 100px;
}

.clicker-button-on {
  display: inline;
}

.multiplier-button img {
  padding: 0;
  width: 100px;
  border-radius: 100px;
}

.multiplier-button {
  display: none;
  border: 0;
  padding: 0;
  width: 100px;
  border-radius: 100px;
  height: 100px;
}

.reset-button img {
  padding: 0;
  width: 50px;
  border-radius: 50px;
}

.reset-button {
  margin-top: 25px;
  border: 0;
  padding: 0;
  width: 50px;
  border-radius: 50px;
  height: 50px;
}

.multiplier-button-on {
  display: inline;
}

.amount-of-donuts {
  font-family: "Wallpoet", cursive;
  font-size: 50px;
  color: hotpink;
  margin: 0;
  margin-bottom: 5px;
}

.amount-of-clickers {
  font-family: "Wallpoet", cursive;
  font-size: 50px;
  color: hotpink;
  margin: 0;
  margin-bottom: 5px;
}

.amount-of-multipliers {
  font-family: "Wallpoet", cursive;
  font-size: 50px;
  color: hotpink;
  margin: 0;
  margin-bottom: 5px;
}

.multiplier-amount {
  font-family: "Wallpoet", cursive;
  font-size: 50px;
  color: hotpink;
  margin: 0;
  margin-bottom: 20px;
}

.clicker-cost {
  font-family: "Wallpoet", cursive;
  font-size: 50px;
  color: hotpink;
  margin: 0;
  margin-bottom: 20px;
}

.multiplier-cost {
  font-family: "Wallpoet", cursive;
  font-size: 50px;
  color: hotpink;
  margin: 0;
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

.modal-fred {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: yellow;
  background-color: rgba(255, 255, 0, 0.438);
}

.modal-fred-content {
  background-color: hotpink;
  color: white;
  font-family: "Cantora One", sans-serif;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  width: 80%;
  font-size: 25px;
}

.modal-inspiration {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: yellow;
  background-color: rgba(255, 255, 0, 0.438);
}

.modal-inspiration-content {
  background-color: hotpink;
  color: white;
  font-family: "Cantora One", sans-serif;
  margin: auto;
  padding: 20px;
  padding-bottom: 50px;
  border: 1px solid white;
  width: 80%;
  font-size: 25px;
}

.modal-contact {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: yellow;
  background-color: rgba(255, 255, 0, 0.438);
}

.modal-contact-content {
  background-color: hotpink;
  color: white;
  font-family: "Cantora One", sans-serif;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  width: 80%;
  font-size: 25px;
}

.modal-fred img {
  width: 75px;
  border-radius: 75px;
}

.modal-fred .img-reset {
  width: 30px;
  border-radius: 30px;
}
